<input [(ngModel)]="searchItem" placeholder="search">
<button (click)="search()">Search</button>

<div *ngFor="let key of filterKeys">
    <h2>{{key}}</h2>
    <div *ngFor="let item of filterAttributes[key]">
        <input type="checkbox" id={{item}} name={{item}} value="{{item}}">
        <label for={{item}}>{{item}}</label>
    </div>
</div>
<button >Filter!</button>

<div class="products">
    <div *ngFor="let product of catalogue">
        <app-product [product]="product"
                     (addToCartEvent)="addToCart($event)"
        ></app-product>
    </div>
</div>