<div class="card shadow border-dark-subtle bg-body-secondary m-1 p-1">
    <!-- 
    <p>{{product.id}}</p>
    <p>{{product.color}}</p>
    <p>{{product.gender}}</p>
    <p>{{product.quantity}}</p>
    <p>{{product.type}}</p> 
    -->
    <h5 class="text-center">{{product.name}}</h5>
    <img src={{product.imageURL}} alt="image" class="img-fluid img-thumbnail border-dark-subtle">
    <div class="d-flex flex-row align-items-center justify-content-around mt-1">
        <p class="m-0"><strong>{{product.currency}} {{product.price}}</strong></p>
        <button (click)="addToCart()"
        class="btn btn-dark"
        >
        Add to cart
        </button>
    </div>
</div>