<h2 class="text-center">Shopping cart</h2>
<div class="d-flex flex-lg-row">
    <div class="d-flex align-items-center justify-content-center">
        <div *ngIf="catalogueService.cartItems.length>0; else cartEmpty">
            <div *ngFor="let d of catalogueService.cartItems">
                <app-cart-item [product]="d">
                </app-cart-item>
            </div>
        </div>
        <ng-template #cartEmpty>
            <p class="text-center fw-semibold fs-5">Your cart is empty.</p>
        </ng-template>
    </div>
    <p *ngIf="catalogueService.cartItems.length>0"
        class="text-center fw-semibold fs-5"
        >Total Amount : {{catalogueService.cartTotal}}
    </p>
</div>